.layout-2DM8Md {
    border-radius: 35px;
  background: #01001c;
  padding: 16px;
  width: 185px;
  height: 12px;

}

.scrollableContainer-2NUZem {
     border-radius: 300px;
  background: #01001c;
margin-bottom: -12px !important;
    margin-top: -9px !important;

}

.typing-2GQL18 {
font-size: 11px

}

.typing-2GQL18 {
    margin-bottom: -6px !important;
    margin-top: -24px !important;
    
}

.slowModeIcon-1BPDC_ {
    display: none !important;
}

.jumpToPresentBar-G1R9s6 {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(205,224,228,0.5606617647058824) 100%);
    
    margin-bottom: 7px !important;
    margin-top: -20px !important;
}

.theme-dark{
--background-primary: #0D1016;

}


/* feiends list background */
.tabBody-3YRQ8W {
    background:#0D0D16;
    
}
/* user panel */
.container-3baos1 {
    background:#05050F;
    border-radius: 35px;
  padding: 20px;
  width: 200px;
  height: 16px;
}
/* voice back ground */ 
.wrapper-24pKcD {
    background:#22223B;
}
/* app background */
.sidebarRegionScroller-3MXcoP {
   background:#0D0D16;
}
/* panel rast */
.bg-h5JY_x {
    background:black;
}
/* server panel */
.container-2Rl01u {
    background:#0F0F15;
}
/* left servers panel */
.scroller-2TZvBN {
    background:#0D0D16;
}
/* members panel r */
.members-1998pB {
    background-color: #0F0F15;
}

.members-1998pB>div {
    background-color: #0F0F15;
}
.nowPlayingColumn-2sl4cE {
    background:#0F0F15;
    
}
/* fix find panel */
.searchBar-6Kv8R2 {
    background:#0F0F15;
}

/* user prof */
.infoScroller-3EYYns {
    background:#0F0F15;
}
.listScroller-2_vlfo {
    background:#0F0F15;
}
.listScroller-2_vlfo {
    background:#0F0F15;
}
.header-QKLPzZ {
    background:#13131C;
}
.activity-1ythUs {
    background:#13131C;
}
.actionButton-3W1xZa {
    border-radius: 35px;
}
.menu-3sdvDG {
    border-radius: 16px;
}
.flex-1xMQg5 {
    border-radius: 35px;
}
.listRow-hutiT_ {
    border-radius:21px;
}


/* channels icon */
.content-3at_AU {
    
    border-radius:10px;
}
/* upload items */
.button-38aScr {
    border-radius:20px;
}
/* server st items */
.item-1tOPte {
    border-radius:6px;
}
.scroller-3BxosC {
    background:#050714;
    border-radius:10px;
}
/* dm panel l */
.scroller-1JbKMe {
    background:#11121a;
}
/* channels list background */
.theme-dark{
  --background-secondary:#0F0F15!important;
  
}
/* user p 2 */
.panels-j1Uci_ {
    background:none;
}

/* in box */
.container-enaOkj {
    border-radius:25px;
}
/* server mine profile */
.userPopout-3XzG_A {
    background:none;
}
/* fast text bg */
.inputDefault-_djjkz {
    background:#111120;
    border-radius:11px;
}
/* voice connected */
.container-1giJp5 {
    background:#050510;
    border-radius:25px;
}
.wrapper-24pKcD {
    background:none;
}
/* user in voice logo */
.inner-2O5YO7 {
    background:none;
}
.wrapper-3BZGuR {
    background:none;
}
.content-2Sfaij {
    background:black;
}
/* invite panel */
.scroller-2hZ97C {
    background:#09091E;
    border-radius:20px;
}
/* noice gir p */
.noiseCancellationPopout-iRK2A0 {
    background:#0E0E20;
    border-radius:26px;
}
/* spoiler color */
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: #001B6F;
}
/* active now op */
.popout-38lTFE {
    border-radius:23px;
}
.wrapper-3Rixsz {
    border-radius:12px;
}
.body-1ld4H7 {
    border-radius:30px;
}
:root {--background-modifier-selected: #000318!important;}
